$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html,body{
	height:100%;
	font-size: 13px;
}

body{
	padding-top:50px; /*padding for navbar*/
	min-width: 1080px;
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #168ccc;
	color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
	color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
	overflow-y:scroll;
}
#text {
	padding: 15px 15px 0 0;
	width: 360px;
}

#playerList {
	height:80vh;
	overflow-y:scroll;
	width: 100%;
	margin-bottom: 0;
}

#players {
	margin-top: 15px;
}

#map {
	width: calc(100% - 375px);
	padding-left: 15px;
	padding-top: 15px;

}

#mapProgressContainer {
	display: none;
	position: absolute;
	bottom: 0;
	height: 20px;
	width: calc(100% - 390px);
	margin-bottom: 0;
}

#map-container {
	width:100%;
}

#map-canvas {
	width:calc(100%);
	height:88vh;
	/*height:calc(100% - 0);*/
/*	position:absolute;
	right:16px;
	top:50px;
	bottom:0;*/
	overflow:hidden;
}

.list-group-item {
	padding: 5px 7px;
}

.division option {
	margin-left: 23px;
}
